# IEX Finance

https://github.com/addisonlynch/iexfinance

https://addisonlynch.github.io/iexfinance/stocks.html

https://addisonlynch.github.io/iexfinance/modules.html

https://github.com/himoacs/iex_data/blob/master/iex_data.py

Token: bcceb85cd12e4a299c5cef5760a02d5c

In [7]:
import pandas as pd
import numpy as np
from iexfinance import Stock
import iex as IEX

In [3]:
fb = Stock('FB')
fb.get_open()
fb.get_price()

195.85

In [150]:
pd.DataFrame(fb.get_news(last=100))

,datetime,headline,image,related,source,summary,url
0,2018-06-16T11:24:00-04:00,"As hedge funds overtake media, the Denver Post...",https://api.iextrading.com/1.0/stock/fb/news-i...,"FB,FRED,GCI,GOOGL,NYT",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/fb/articl...
1,2018-06-16T09:00:00-04:00,Instagram expects New York to house up to half...,https://api.iextrading.com/1.0/stock/fb/news-i...,FB,CNBC,No summary available.,https://api.iextrading.com/1.0/stock/fb/articl...
2,2018-06-16T07:47:03-04:00,Stocks To Watch: Don&apos;t Sleep On Vienna,https://api.iextrading.com/1.0/stock/fb/news-i...,"AAN,AVRO,BB,BB:CA,BC,BKS,BP,CCL,CHEF,CHUY,CLPS...",SeekingAlpha,Welcome to Seeking Alpha's Stocks to Watch ...,https://api.iextrading.com/1.0/stock/fb/articl...

In [17]:
print(fb)

<iexfinance.stock.StockReader object at 0x10bc21ef0>

In [22]:
from iexfinance import get_historical_data
from datetime import datetime

start = datetime(2013, 5, 18)
end = datetime(2018, 6, 15)

df = get_historical_data("FB", start=start, end=end, output_format='pandas')
df.head(15)

               open     high    low   close    volume
date
2013-06-17  23.9100  24.2500  23.75  24.022  33603061
2013-06-18  24.0900  24.6900  24.08  24.210  36672094
2013-06-19  24.2000  25.1900  24.10  24.309  31741274
2013-06-20  24.2800  24.7450  23.65  23.900  42737997
2013-06-21  24.5900  24.7000  24.05  24.530  45807968
2013-06-24  23.9500  24.1100  23.38  23.935  40593692
2013-06-25  24.1400  24.4300  24.04  24.250  24711324
2013-06-26  24.5100  24.6500  23.99  24.160  29869415
2013-06-27  24.2400  24.8400  24.21  24.660  34654256
2013-06-28  24.6800  24.9800  24.42  24.880  96755618
2013-07-01  24.9694  25.0601  24.62  24.810  20569420
2013-07-02  24.7000  24.7700  24.30  24.410  18355208
2013-07-03  24.2200  24.7100  24.15  24.520  10404332
2013-07-05  24.6500  24.6600  24.20  24.370  20209801
2013-07-08  24.4700  25.0400  24.42  24.710  27060750

In [21]:
import matplotlib.pyplot as plt

df.plot()
plt.show()

### IEX Reference Data

Support for the IEX Reference Data endpoints is available through the top level functions 

- `get_symbols` 
- `get_corporate_actions`
- `get_dividends` 
- `get_next_day_ex_date` 
- `get_listed_symbol_dir` 

As with all endpoints, request parameters such as retry_count and output format selection (through output_format) can be passed to the call.

`from iexfinance import get_available_symbols`

`get_available_symbols(output_format='pandas')[:2]`

http://www.enlistq.com/python-api-getting-market-financial-data-iex/

In [5]:
from iexfinance import get_stats_intraday

get_stats_intraday(output_format='pandas')

,marketShare,notional,routedVolume,symbolsTraded,volume
lastUpdated,1.529097e+12,1529097304727,1529097304727,1529095135453,1529097304727
value,1.890000e-02,9395232299,38611231,5703,188761114

--------

In [6]:
import iex as IEX

In [8]:
iex = IEX.Stock()
fin = iex.get_financials('FB')
fin.T

                                  0            1            2            3
cashChange               3970000000    835000000    882000000   -920000000
cashFlow                 7860000000   7671000000   6127000000   5360000000
costOfRevenue            1927000000   1611000000   1448000000   1237000000
currentAssets           50412000000  48563000000  44203000000  40804000000
currentCash             12210000000   8079000000   7201000000   6252000000
currentDebt                    None         None         None         None
grossProfit             10039000000  11361000000   8880000000   8084000000
netIncome                4988000000   4269000000   4707000000   3894000000
operatingExpense         4590000000   4009000000   3758000000   3683000000
operatingGainsLosses           None         None         None         None
operatingIncome          5449000000   7352000000   5122000000   4401000000
operatingRevenue        11795000000  12779000000  10142000000   9164000000
reportDate               2018-03-31   2017-12-31   2017-09-30   2017-06-30
researchAndDevelopment   2238000000   1949000000   2052000000   1919000000
shareholderEquity       77620000000  74347000000  71208000000  66481000000
totalAssets             88945000000  84524000000  78998000000  73843000000
totalCash               43956000000  41711000000  38289000000  35452000000
totalDebt                      None         None         None         None
totalLiabilities               None         None         None         None
totalRevenue            11966000000  12972000000  10328000000   9321000000

In [70]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 20 columns):
cashChange                4 non-null int64
cashFlow                  4 non-null int64
costOfRevenue             4 non-null int64
currentAssets             4 non-null int64
currentCash               4 non-null int64
currentDebt               0 non-null object
grossProfit               4 non-null int64
netIncome                 4 non-null int64
operatingExpense          4 non-null int64
operatingGainsLosses      0 non-null object
operatingIncome           4 non-null int64
operatingRevenue          4 non-null int64
reportDate                4 non-null object
researchAndDevelopment    4 non-null int64
shareholderEquity         4 non-null int64
totalAssets               4 non-null int64
totalCash                 4 non-null int64
totalDebt                 0 non-null object
totalLiabilities          0 non-null object
totalRevenue              4 non-null int64
dtypes: int64(15), object(5)
memory usage: 720.0+ bytes

In [73]:
fin.shape

(4, 20)

In [85]:
earnings = iex.get_earnings('FB')
earnings.T

                                 0           1           2           3
EPSReportDate           2018-04-25  2018-01-31  2017-11-01  2017-07-26
EPSSurpriseDollar             0.33        0.24        0.31        0.19
actualEPS                     1.69         2.2        1.59        1.32
announceTime                   AMC         AMC         AMC         AMC
consensusEPS                  1.36        1.96        1.28        1.13
estimatedChangePercent    0.307692    0.580645    0.454545    0.486842
estimatedEPS                  1.36        1.96        1.28        1.13
fiscalEndDate           2018-03-31  2017-12-31  2017-09-30  2017-06-30
fiscalPeriod               Q1 2018     Q4 2017     Q3 2017     Q2 2017
numberOfEstimates               14          14          18          14
symbolId                      2408        2408        2408        2408
yearAgo                       1.04        1.24        0.88        0.76
yearAgoChangePercent         0.625    0.774194    0.806818    0.736842

In [17]:
fb_chart = iex.get_chart('FB', chart_range='5y')

In [21]:
print(fb_chart.shape)
fb_chart.head()

(1260, 12)

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,0.392,0.000000,1.659,24.022,2013-06-17,24.250,"Jun 17, 13",23.75,23.91,33603061,33603061,24.0331
1,0.188,0.007826,0.783,24.210,2013-06-18,24.690,"Jun 18, 13",24.08,24.09,36672094,36672094,24.4482
2,0.099,0.011947,0.409,24.309,2013-06-19,25.190,"Jun 19, 13",24.10,24.20,31741274,31741274,24.3771
3,-0.409,-0.005079,-1.683,23.900,2013-06-20,24.745,"Jun 20, 13",23.65,24.28,42737997,42737997,24.0846
4,0.630,0.021147,2.636,24.530,2013-06-21,24.700,"Jun 21, 13",24.05,24.59,45807968,45807968,24.3850

In [93]:
iex.get_delayed_quote('FB')

{'symbol': 'FB',
 'delayedPrice': 195.85,
 'high': 197.07,
 'low': 194.64,
 'delayedSize': 3370373,
 'delayedPriceTime': 1529092800254,
 'processedTime': 1529093701006}

In [94]:
iex.get_effective_spread('FB')

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.848357,0.020314,0.002168,XBOS,Nasdaq BX,6390348
1,0.844462,0.018434,0.002239,XPHL,Nasdaq PSX,1437527
2,0.685459,0.017116,0.005011,XCHI,CHX,18329
3,0.790962,0.016867,0.002957,BATY,Cboe BYX,4638442
4,0.944053,0.016295,0.000571,XCIS,NYSE National,12622
5,0.932095,0.015893,0.000930,ARCX,NYSE Arca,17533613
6,0.735897,0.015328,0.003665,BATS,Cboe BZX,19020826
7,0.775155,0.015027,0.003017,XNGS,Nasdaq,69682267
8,0.853200,0.013792,0.001894,XASE,NYSE American,355038
9,0.770578,0.013771,0.003040,EDGA,Cboe EDGA,2785289
10,0.766421,0.013292,0.003011,EDGX,Cboe EDGX,23627536
11,0.863186,0.013210,0.001632,XNYS,NYSE,1488778
12,0.475663,0.009310,0.006553,IEXG,IEX,10037689

In [106]:
iex.get_time_series('FB')

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,-2.32,0.000000,-1.243,184.32,2018-05-15,185.2900,May 15,183.20,184.8800,15429433,15429433,184.0982
1,-1.12,-0.006076,-0.608,183.20,2018-05-16,184.3200,May 16,182.66,183.6952,16975495,16975495,183.4167
2,0.56,-0.003038,0.306,183.76,2018-05-17,184.0600,May 17,182.22,182.6800,14840675,14840675,183.3554
3,-1.08,-0.008898,-0.588,182.68,2018-05-18,184.1900,May 18,182.61,183.4900,13130451,13130451,183.1248
4,1.81,0.000922,0.991,184.49,2018-05-21,185.3000,May 21,183.13,183.7700,13532864,13532864,184.3849
5,-0.69,-0.002821,-0.374,183.80,2018-05-22,185.4200,May 22,183.43,184.9300,12731419,12731419,184.2960
6,3.10,0.013997,1.687,186.90,2018-05-23,186.9100,May 23,182.18,182.5000,16628100,16628100,184.9071
7,-0.97,0.008735,-0.519,185.93,2018-05-24,186.8000,May 24,185.03,185.8800,12354742,12354742,186.0102
8,-1.01,0.003255,-0.543,184.92,2018-05-25,186.3300,May 25,184.45,186.0200,10965061,10965061,185.2464
9,0.82,0.007704,0.443,185.74,2018-05-29,186.8100,May 29,183.71,184.3400,16398937,16398937,185.4463
10,1.93,0.018175,1.039,187.67,2018-05-30,188.0000,May 30,185.25,186.5400,13736866,13736866,187.1192
11,4.11,0.040473,2.190,191.78,2018-05-31,192.7200,May 31,187.48,187.8700,30782631,30782631,191.0267
12,2.21,0.052463,1.152,193.99,2018-06-01,194.5492,Jun 1,192.07,193.0650,17307245,17307245,193.4662
13,-0.71,0.048611,-0.366,193.28,2018-06-04,193.9800,Jun 4,191.47,191.8400,18939795,18939795,192.9620
14,-0.34,0.046766,-0.176,192.94,2018-06-05,195.0000,Jun 5,192.62,194.3000,15544294,15544294,193.7114
15,-1.60,0.038086,-0.829,191.34,2018-06-06,192.5300,Jun 6,189.11,191.0252,22558920,22558920,190.4895
16,-3.16,0.020942,-1.652,188.18,2018-06-07,190.9700,Jun 7,186.77,190.7500,21503171,21503171,188.1787
17,0.92,0.025933,0.489,189.10,2018-06-08,189.4754,Jun 8,186.43,187.5300,12677092,12677092,188.6564
18,2.44,0.039171,1.290,191.54,2018-06-11,192.6000,Jun 11,188.80,188.8100,12928907,12928907,191.1584
19,0.86,0.043837,0.449,192.40,2018-06-12,193.2800,Jun 12,191.56,192.1700,11562704,11562704,192.3602
20,0.01,0.043891,0.005,192.41,2018-06-13,194.5000,Jun 13,191.91,192.7400,15853821,15853821,193.0914
21,4.40,0.067763,2.287,196.81,2018-06-14,197.2800,Jun 14,192.91,193.1000,19120866,19120866,195.7478
22,-0.96,0.062554,-0.488,195.85,2018-06-15,197.0700,Jun 15,194.64,195.7900,21860931,21860931,195.8738

In [110]:
iex.get_stats('FB').T

                                 0
companyName          Facebook Inc.
marketcap             566912844446
beta                      0.848977
week52high                  197.28
week52low                    147.8
week52change                30.741
shortInterest             27722131
shortDate               2018-05-31
dividendRate                     0
dividendYield                    0
exDividendDate                   0
latestEPS                        0
latestEPSDate           2017-12-31
sharesOutstanding       2894627748
float                   2889341923
returnOnEquity               24.13
consensusEPS                  1.36
numberOfEstimates               14
EPSSurpriseDollar             None
EPSSurprisePercent         24.2647
symbol                          FB
EBITDA                 19626000000
revenue                32621000000
grossProfit            28325000000
cash                  115452000000
debt                             0
ttmEPS                         6.8
revenuePerShare                 11
revenuePerEmployee         1175871
peRatioHigh                      0
peRatioLow                       0
returnOnAssets               21.42
returnOnCapital               None
profitMargin                 40.67
priceToSales               12.9829
priceToBook                   None
day200MovingAvg            177.043
day50MovingAvg             179.128
institutionPercent            53.5
insiderPercent                None
shortRatio                 1.55195
year5ChangePercent         7.15294
year2ChangePercent        0.708988
year1ChangePercent         0.30741
ytdChangePercent         0.0795392
month6ChangePercent      0.0869686
month3ChangePercent      0.0652127
month1ChangePercent      0.0625543
day5ChangePercent        0.0225018
day30ChangePercent        0.108941

In [113]:
iex.get_peers('FB')

['MSFT', 'IAC', 'TWTR', 'WB', 'GOOGL', 'RENN', 'MEET', 'XLK']

In [120]:
iex.get_relevant('FB')

   peers symbols
0   True    MSFT
1   True     IAC
2   True    TWTR
3   True      WB
4   True   GOOGL
5   True    RENN
6   True    MEET
7   True     XLK

In [121]:
iex.get_quote('FB')

{'symbol': 'FB',
 'companyName': 'Facebook Inc.',
 'primaryExchange': 'Nasdaq Global Select',
 'sector': 'Technology',
 'calculationPrice': 'close',
 'open': 195.79,
 'openTime': 1529069400436,
 'close': 195.85,
 'closeTime': 1529092800254,
 'high': 197.07,
 'low': 194.64,
 'latestPrice': 195.85,
 'latestSource': 'Close',
 'latestTime': 'June 15, 2018',
 'latestUpdate': 1529092800254,
 'latestVolume': 21828956,
 'iexRealtimePrice': 195.81,
 'iexRealtimeSize': 200,
 'iexLastUpdated': 1529093199593,
 'delayedPrice': 195.85,
 'delayedPriceTime': 1529092800254,
 'extendedPrice': 195.55,
 'extendedChange': -0.3,
 'extendedChangePercent': -0.00153,
 'extendedPriceTime': 1529096364789,
 'previousClose': 196.81,
 'change': -0.96,
 'changePercent': -0.00488,
 'iexMarketPercent': 0.02231,
 'iexVolume': 487004,
 'avgTotalVolume': 17086712,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'marketCap': 566912844446,
 'peRatio': 28.8,
 'week52High': 197.28,
 'week52Low': 146.3747,
 'ytdChange': 0.0799507794069012}

In [123]:
iex.get_previous('FB')

{'symbol': 'FB',
 'date': '2018-06-15',
 'open': 195.79,
 'high': 197.07,
 'low': 194.64,
 'close': 195.85,
 'volume': 21860931,
 'unadjustedVolume': 21860931,
 'change': -0.96,
 'changePercent': -0.488,
 'vwap': 195.8738}